* {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #FFFFFF;
}

html, body {
  height: 100%;
}

body {
  background-color: #FAFAFA;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}

#fixed-buttons {
  position: relative;
  height: 0;
  max-width: 600px;
  z-index: 10;
  margin: 0 auto;
}
@media (max-width: 600px) {
  #fixed-buttons {
    max-width: 100%;
  }
}
#search-icon {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

/* Draggable Part */
.drag-container {
  position: relative;
  display: inline-block;
  width: 600px;
}
@media (max-width: 600px) {
  .drag-container {
    max-width: 100%;
  }
}
.drag-container-content {
  position: relative;
  background-color: #FFFFFF;
  cursor: move;
  width: 100%;
  overflow: hidden;
}
.drag-container-content img {
  position: relative;
  width: 100%;
}

/* Profile */
.image-container {
  position: relative;
  color: white;
}
.profile-image {
  height: 600px;
  object-fit: cover;
}
.profile-name {
  position: absolute;
  left: 18px;
  bottom: 12px;
  color: white;
  background-color: transparent;
  font-size: 32px;
}